{% extends "base.html" %}

{% load static %}

{% block hero %}
    <div class="hero blue darken-1">
        <div class="hero-wrapper">
            <div class="call-to-action">
                <div class="lead">Ne me parlez pas de la vie</div>
                <div class="lead-subtitle">Je suis une femme</div>

                {% if data %}
                    <a class="waves-effect waves-light btn-large modal-trigger blue darken-3" href="#modal1">Vos emails</a>
                    
                    {% include "hero/modal.html" %}
                {% else %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file-field input-field">
                            <div class="btn blue darken-3">
                                <span>File</span>
                                <input type="file" name="file" id="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate browser-default" type="text">
                            </div>
                        </div>
                        <button type="submit" class="btn-large blue darken-3">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}