{% load static %}

<div class="navbar-fixed">
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <!-- Sidenav button -->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <div class="container">
                <a href="{% url 'home' %}" class="brand-logo">
                    <img src="{% static 'logo.png' %}" alt="Zemailer">
                </a>
                <ul id="ecommerce-mobile" class="right">
                    {% include "./links.html" with sidenav="False" %}
                </ul>
            </div>
        </div>
    </nav>
</div>

{# {% include "navs/sidenav.html" %} #}
